<div class="container">
    <div class="content">
      <div id="logo">
        <a href="/  ">
          <img src="/img/logo.png" alt="Logo PIUAE" />
        </a>
      </div>

      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/pacientes">Paciente</a>
          </li>
          <li>
            <a href="/medicos">Médicos</a>
          </li>
          <li>
            <a href="/agendamentos">Agendamentos</a>
          </li>
          <li>
            <a href="/users">Usuários</a>
          </li>
          <li>
            <a href="/cargos">Cargos</a>
          </li>
          <li>
            <a href="/contact.html">Contato</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>