body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #222222;
}

.container {
  width: 1400px;
  margin: 0 auto;
  display: block;
}

.btn {
  background: #fff;
  color: #222222;
  display: block;
  text-align: center;
  border-radius: 4px;
  padding: 5px;
  margin-right: 10px;
  display: inline-block;
  text-decoration: none;
  font-size: 1rem;
  font-weight: normal;
}

.btn.btn-new {
  background: #21f39f;
  color: #222222;
  float: right;
  margin: 0 0 30px 0;
}
.btn.btn-enviar {
  background: #21f39f;
  color: #222222;
  float: right;
  margin-right: 0;
}
.btn.btn-voltar {
  background: #21f39f;
  color: #222222;
  margin-left: 0;
  
}

.btn.btn-show {
  background: #2196f3;
  color: #fff;
}

.btn.btn-edit {
  background: #f38e21;
  color: #fff;
}

.btn.btn-delete {
  background: #f34f21;
  color: #fff;
}

div.form-control.required input {
  border: 1px solid red;
}

div.form-control.required label {
  color: red;
}

:focus-visible {
  outline: none;
}

header {
  background: yellow;
  display: flex;
  height: 10vh;
  min-height: 90px;
}

header .content {
  display: flex;
  flex-direction: row;
}

header div#logo {
  flex: 1;
}

header div#logo img {
  width: 70px;
  margin: 15px 0;
}

header nav {
  flex: 3;
  font-size: 1.2rem;
}

header nav ul {
  list-style: none;
  padding: 0;
  margin: 40px 0;
  display: flex;
  justify-content: space-around;
}

header nav ul li a {
  text-decoration: none;
  color: #222222;
  text-transform: uppercase;
  transition: 0.4s;
}

header nav ul li a:hover {
  color: #666;
  border-bottom: 1px solid #666;
}

main {
  display: flex;
  min-height: 80vh;
}

main section {
  flex: 1;
}

main section#usuarios {
  margin: 30px 0;
  font-size: 1rem;
}

main section#usuarios table {
  width: 100%;
  text-align: left;
  border: 1px solid #222222;
  border-collapse: collapse;
}

main section#usuarios table th,
main section#usuarios table td {
  border: 1px solid #222222;
  padding: 10px;
}

main section#usuarios form div.form-control {
  margin-bottom: 20px;
}

body#contacts main section#usuarios .content {
  display: flex;
}

body#contacts main section#usuarios .content .bloco-esquerdo {
  margin-right: 36px;
  flex: 1;
}

body#contacts main section#usuarios .content .bloco-esquerdo .form-control textarea{
  resize: none;
  width: 100%;

}

body#contacts main section#usuarios .content .bloco-direito {
  
  flex: 1;
  
}
body#contacts main section#usuarios .content .bloco-direito .titulo h2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  
  
}

body#contacts main section#usuarios .content .bloco-direito .figura {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  
  
}

body#contacts main section#usuarios .content .bloco-direito .figura img {
  width: 100px;
  height: 100px;
  margin: 10px 10px 10px 10px;
} 

body#contacts main section#usuarios .form-control {
  display: flex;
}

body#contacts main section#usuarios .form-control label {
  flex: 1;
  margin-right: 20px;
}

body#contacts main section#usuarios .form-control input {
  flex: 9;
}

/* INDEX */

.container h1 {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

section#index .content {
  display: flex;
}

section#index .content .bloco-esquerdo {
  margin-right: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

section#index .content .bloco-direito {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

section#index .content .bloco-direito p {
  width: 50%;
  text-align: center;
}

/* END INDEX */

/* NEW USUÁRUIO */

body#new-usuario main .container {
  width: 800px;
}

body#new-usuario main section#usuarios .content {
  display: flex;
  flex-direction: column;
}

body#new-usuario main section#usuarios .form-control {
  display: flex;
}

body#new-usuario main section#usuarios .form-control label {
  flex: 3;
  margin-right: 15px;
}
body#new-usuario main section#usuarios .form-control input {
  flex: 10;
}

/* END NEW USUÁRUIO */


footer {
  background: #ccc;
  display: flex;
  height: 10vh;
}

footer p {
  text-align: center;
  margin-top: 40px;
}


/* VISUALIZAR */

.container.visualizar {
  display: flex;
  justify-content: center;
  width: 100%;

}

.content h2 {
  text-align: center;

}

form.visualizar {
  align-self: center;
  word-wrap: anywhere;
  margin: 10px;
  font-size: 20px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.content.visualizar {
  padding: 10px;
}

/* END VISUALIZAR */

/* SELECT CARGO */

body#new-usuario main section#usuarios .form-control label.cargo {
  display: flex;
  justify-content: flex-start;
  margin-right: 0;
  flex: 2;

}
select.cargo {
  flex: 1;
  text-align: center;
}

option {
  text-align-last:center;
}

/* END SELECT CARGO */

/* NEW AGENDAMENTO */

select#selectBoxNew {
  flex: 2;
  text-align: center;
}
select#selectBoxNew option {
  text-align-last:center;
}

div#contact_textarea textarea#observacao {
  resize: none;
}

/* END NEW AGENDAMENTO */